.Lander {
  padding: 8rem 0;
  text-align: center;
}

.Lander h1 {
  font-weight: 600;
}

.Lander p {
  color: #999;
}

.Home h4 {
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Notes {
  padding-top: 2rem;
}

.Notes p {
  color: #666;
}
